.h1{
    color: var(--Soft-Skill-text, #F5F5F5);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 120% */
    letter-spacing: -1.2px;
}



.h2{
    color: var(--Soft-Skill-text, #F5F5F5);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    letter-spacing: -0.96px;
}

@media screen and (max-width: 600px) {
    .h1{

        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px; /* 122.222% */
        letter-spacing: -0.72px;
    }

    .h2{
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px; /* 126.667% */
    }

}

.mini_title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.mini_title{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
    background: var(--Soft-Skill-MiliTitle);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mini_title img{
    width: auto;
}