.sectionBG{
    background: var(--Soft-Skill-bg-primary-light, #191B1F);
}


.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 32px;
    gap: 80px;
}

@media screen and (max-width: 860px) {
    .grid {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }


    .right{
        text-align: left;
        height: auto;
        max-width: 500px;
    }

}

@media screen and (max-width: 600px) {
    .grid {
        padding: 0 10px;
    }
}

.left{
    display: flex;
    align-items: self-start;
    flex-direction: column;
    gap: 24px;
    min-width: 350px;

}

.right{
    text-align: right;
    height: auto;
    width: auto;
}

.right img{
    height: auto;
}