.sectionBG{
    background: var(--Soft-Skill-bg-primary, #0B0C0E);
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 0 32px;

}



.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.feature{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;

}

@media screen and (max-width: 1000px) {
    .feature{
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}


@media screen and (max-width: 700px) {

    .flex{
        padding: 0 10px;

    }

}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 338px;
    max-height: fit-content;
    padding: 24px 40px;
    flex-direction: column;
    gap: 22px;
    border-radius: 32px;
    background: var(--Soft-Skill-bg-primary-light, #191B1F);
    transition: all 0.3s;
    border: 1px solid transparent;

}


.box:hover{
    border: 1px solid var(--Soft-Skill-primary, #2CD4F8);
    background: var(--Soft-Skill-bg-primary-light, #191B1F);
}

.boxText{
    color: var(--Soft-Skill-text, #F5F5F5);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}